body,html,ul,li{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
ul,li{list-style: none;}
body,html{
	background-color: #2194d3;
}
*{
	box-sizing:border-box;
}

.today{
	display:inline-block;
	color:#ffffff;
	border:1px solid #57addd;
	background:#1388c8;
	font-size:14px;
	border-radius:12px;
	padding:6px 19px 7px 8px;
	font-weight:bold;
	margin-top:390px;
}
.yellow{
	color:#f5d91a;
}
.search{
	display:block;
	float:right;
	width:237px;
	background:#ffffff;
	height:40px;
	font-size:16px;
	border-radius:20px;
	margin-top:390px;
	background-image:url('../img/fangda.png');
	background-repeat:no-repeat;
	border:1px solid #c9c9c9;
}
.blue{
	display:inline-block;
	background:#007cc0;
	padding:4px 6px;
	float:right;
	margin:7px;
	border-radius:14px;
	color:#ffffff;
}
.w987{
	width: 978px;
	margin: 0 auto;
}

.warpper{
	background-image: url('../img/head_bg_01.png');
	background-position: center 0;
	background-repeat: repeat-x;
}

.header{
	height: 434px;
	background-image: url('../img/head_bg.png');
	background-repeat: no-repeat;
	background-position: center 0;
}

.centent{
	background: #fff;
	border-radius: 4px;
	min-height: 100px;
	padding: 10px;
}
.centent:after{
	content: '';
	display: block;
	clear: both;
}

.box_list ul{
	background: #e8f4fb;
}

.box_list {
	width: 50%;
	float: left;
	padding: 10px 10px 10px 10px;
    color: azure;
}

.box_list h2 a{
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}

.box_list ul{
	padding: 10px 0 15px 0;
}
.box_list li a:before{
	content: '';
	display: inline-block;
	height: 6px;
	width: 6px;
	background-color: #2194d3;
	margin-right: 10px;
	border-radius: 50%;
}
.box_list li a {
	display: block;
	color: #333333;
	padding: 0 0 0 15px;
	font-size: 14px;
	line-height: 25px;
	text-decoration:none;
	font-weight:bold;
}

/* 虚线*/
.dashed{
	display:block;
	border:1px dashed #d0d0d0;
	border-top:0px;
	margin:-10px 0 0 70px;
	width:70%;
}

.font{
	font-size:12px;
	float:right;
}

.lianjie{
	border: 1px solid #54acdd;
    background: #1187c8;
    text-align: center;
    margin: 12px auto;
    padding: 5px 0 6px 0;
    width: 50%;
    color: #ffffff;
    border-radius:13px;
}
/**页脚样式*/

.footer{
	text-align: center;
	padding: 10px 0;
	line-height: 23px;
	color: #01598a;
}