body,html,ul{
	margin:0;
	padding:0;
}
body,html{
	background-color:#2194d3;
}
*{
	box-sizing:border-box;
}
.text{
	background-image:url(../img/pudong.png);
	height:432px;
	background-repeat:no-repeat;
	background-position:center;
}
.toubu{
	background-image:url(../img/pudong_b.png);
	background-repeat:repeat-x;
}
.w1280{
	margin:0 auto;
	width:1280px;
}
.weather{
	color:#ffffff;
	display:inline-block;
	background:#1489c8;
	border:1px solid #57addd;
	margin-top:400px;
	border-radius:13px;
	font-size:14px;
	padding:6px 20px 7px 9px;

}
.yellow{
	color:#ffde00;
}
.magnifier{
	border:1px solid #c8c8c8;
	background:#ffffff;
	float:right;
	margin-top:390px;
	min-width:30%;
	line-height:24px;
	border-radius:20px;
	background-image:url(../img/fangda.png);
	background-repeat:no-repeat;
}
.search{
	display:inline-block;
	background:#007cc0;
	border-radius:16px;
	color:#ffffff;
	padding:4px 6px 4px 6px;
	font-size:12px;
	float:right;
	width:50px;
	text-align:center;
	margin:3px 4px;
}