body,html,ul{
	margin:0;
	padding:0;
}
body,html{
	background-color:#2194d3;
}
*{
	box-sizing:border-box;
}
.text{
	background-image:url(../img/pudong.png);
	height:432px;
	background-repeat:no-repeat;
	background-position:center;
}
.toubu{
	background-image:url(../img/pudong_b.png);
	background-repeat:repeat-x;
}